# Ignore data and logs
# Ignore data folder by default
data/*
# But allow specific test or placeholder files
!data/.gitkeep
!data/test.txt

logs/
__pycache__/
*.pyc
.env
.env
chroma_db/
data/figures/
__pycache__/
*.pyc
